body {
  margin: 0;
}

nav {
  text-align: center;
  background-color: black;
  color: #ffffff;
}
nav img {
  position: absolute;
  left: 0;
}
nav ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px 10px;
  text-decoration: none;
}

nav li a:hover:not(.active) {
  border-top: 2px solid;
  border-color: lightgray;
  color: lightgray;
  padding-top: 12px;
}

nav li .active {
  border-top: 2px solid;
  border-color: white;
  padding-top: 12px;
}
